<div class="container mt-4">
  <h1 class="text-center">Ciclo Formativo: DAW</h1>

  <nav>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" routerLink="dwec" routerLinkActive="active">DWEC</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="dwes" routerLinkActive="active">DWES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="diw" routerLinkActive="active">DIW</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="despliegue" routerLinkActive="active">Despliegue</a>
      </li>
    </ul>
  </nav>

  <div class="mt-4">
    <router-outlet></router-outlet>
  </div>
</div>
