.botones{
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    
    text-shadow: 3px 2px 1px #9daef5;
    -webkit-box-shadow: 6px 5px 24px #666666;
    -moz-box-shadow: 6px 5px 24px #666666;
    box-shadow: 6px 5px 24px #666666;

    font-family: Arial;
    color: #3f3c3c;
    font-size: 18px;
    padding: 19px;
    text-decoration: none;
}