* {  
    padding: 15px; 
    margin: 15px;
 }
    
html { 
    margin: 0; 
    padding: 0; 
}
body { 
        margin:0 auto;
        max-width: 600px;
        font-family: sans-serif; 
        color: #333;
    }
ul li{
    list-style: none;
}