<div class="container mt-5">
    <div class="d-flex justify-content-center mt-4">
        <a class="btn btn-outline-dark mx-2" href="http://sergioorgaz-angular.atwebpages.com/Calculadora-Angular/" role="button">Calculadora-Angular</a>
        <a class="btn btn-outline-dark mx-2" href="http://sergioorgaz-angular.atwebpages.com/Conversor-Divisas/" role="button">Conversor-Divisas</a>
        <a class="btn btn-outline-dark mx-2" href="http://sergioorgaz-angular.atwebpages.com/Practica-Directivas/" role="button">Practica-Directivas</a>
    </div>
    <div class="d-flex justify-content-center mt-4">
        <a class="btn btn-outline-dark mx-2" href="http://sergioorgaz-angular.atwebpages.com/Proyecto1/" role="button">Proyecto-1</a>
        <a class="btn btn-outline-dark mx-2" href="http://sergioorgaz-angular.atwebpages.com/Suma-Resta/" role="button">Suma-Resta</a>
        <a class="btn btn-outline-dark mx-2" href="http://sergioorgaz-angular.atwebpages.com/Temporizador-Angular/" role="button">Temporizador-Angular</a>
    </div>

    <div class="d-flex justify-content-center mt-4">
      <a class="btn btn-outline-dark mx-2" href="http://sergioorgaz-angular.atwebpages.com/Select-Colores/" role="button">Select-Colores</a>
      <a class="btn btn-outline-dark mx-2" href="http://sergioorgaz-angular.atwebpages.com/Chica-Chico/" role="button">Chica-Chico</a>
      <a class="btn btn-outline-dark mx-2" href="http://sergioorgaz-angular.atwebpages.com/Efectos-Hover/" role="button">Efectos-Hover</a>
    </div>

    <div class="d-flex justify-content-center mt-4">
        <a class="btn btn-outline-dark mx-2" href="http://sergioorgaz-angular.atwebpages.com/Fruteria" role="button">Fruteria</a>
        <a class="btn btn-outline-dark mx-2" href="http://sergioorgaz-angular.atwebpages.com/Crud-Fruteria" role="button">Crud-Fruteria</a>
        <a class="btn btn-outline-dark mx-2" href="http://sergioorgaz-angular.atwebpages.com/Chat-Angular" role="button">Chat-Angular</a>
    </div>

    <div class="d-flex justify-content-center mt-4">
      <a class="btn btn-outline-dark mx-2" href="http://sergioorgaz-angular.atwebpages.com/Crud-Empleados" role="button">Crud-Empleados</a>
    </div>
    

</div>
