<div class="container">
  <div class="d-flex justify-content-center">
    <div class="col-auto">
      <a routerLink="login" class="btn btn-primary m-2">Iniciar Sesion</a>
      <a routerLink="registro" class="btn btn-success m-2">Crear Usuario</a>
      <a routerLink="chat" class="btn btn-warning m-2">Chat Global</a>
      <a routerLink="chatPrivado" class="btn btn-secondary m-2">Chat Privado</a>
      <a routerLink="admin" class="btn btn-danger m-2">Admin</a>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div class="col-auto">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

